$grid-gutter-width: 30px;
$grid-columns: 12;

$width-mobile: 320px;
$width-mobile-max: 768px;
$width-desktop: 980px;

$color-main: #fff104;
$color-price: #fd456c;
$color-disable: #c1c1c1;
$color-error: #fad9e0;
$color-success: #fff7bd;
$color-bat: #3b3b3b;

$font-size: 16px;
$line-height-base: 24px;
$line-height: $line-height-base / $font-size;

$font-family: "Futura";
$font-family-second: "HelveticaNeueCyr";




