-
  var data = [
    [
      {
        title: "<strong>О проблемах Достоевского с азартными играми, кажется, известно всем.</strong> И именно в Баден-Бадене он пристрастился к игре в рулетку. Но всё-таки потратился тогда писатель намного больше."
      },{
        title: "<strong>Как госслужащий, Тютчев зарабатывал достойно.</strong> Но основной его капитал составило приданое второй супруги. Какие тут могут быть долги?"
      },{
        title: "<strong>Это действительно расходы Тургенева — </strong>писатель любил жить на широкую ногу, был страстным охотником и не умел обращаться с деньгами. Узнать и проанализировать, не много ли вы тратите на развлечения, всегда можно в интернет-банке <b>Райффайзен-Онлайн</b>.",
        correct: true
      }
    ],[
      {
        title: "<strong>Герцен родился в богатой семье,</strong> а в эмиграции успел пожить и в Париже, и в Швейцарии, и в Ницце. Но так часто место жительства он не менял."
      },{
        title: "<strong>После удачи «Ревизора» Гоголь в России практически не появлялся и около десяти лет, в основном, путешествовал.</strong> К слову, доехал даже до Палестины. Если бы у Николая Васильевича был интернет-банк <b>Райффайзен-Онлайн</b>, он бы менял валюту по более выгодному курсу и путешествовал бы с меньшими потерями. Особенно ему бы пригодилась возможность дистанционно управлять своими вкладами и счетами.",
        correct: true
      },{
        title: "<strong>Грибоедов происходил из богатой семьи,</strong> но дипломатическая деятельность много путешествовать по Европе не позволяла."
      }
    ],[
      {
        title: "<strong>Только аванс за «Войну и мир»</strong> составил 10 000 рублей."
      },{
        title: "<strong>Лесков зарабатывал намного меньше</strong> — в 1862 году он бросил службу и начал работать журналистом. Романы, конечно, писал, но дохода с них большого не имел."
      },{
        title: "<strong>Жена Достоевского Анна Сниткина смогла обойти невыгодные условия книгоиздателей</strong> и получить за роман мужа «Бесы» большой гонорар. Помогать супругу или супруге вести семейный бюджет вы можете в интернет-банке <b>Райффайзен-Онлайн</b>, подключившись к сервису как держатель дополнительной карты.",
        correct: true
      }
    ],[
      {
        title: "<strong>Денежные проблемы, естественно, присутствовали в жизни Островского,</strong> но его пьесы всё же приносили неплохой доход."
      },{
        title: "<strong>Горький практически сразу решает свои денежные проблемы за счет издания книг,</strong> а затем его достаток будет обусловлен удачной женитьбой и правильными знакомствами. 107 рублей? Какая-то мелочь."
      },{
        title: "<strong>Это действительно фрагмент из письма Антона Павловича Чехова</strong> своему старшему брату Александру от 8 января 1887 года. Ему бы точно пригодились уведомления интернет-банка <b>Райффайзен-Онлайн</b> о том, что пора платить по кредитам.",
        correct: true
      }
    ],[
      {
        title: "<strong>Денег у Набокова, конечно, всегда было достаточно, и тратил он их с умом.</strong> Но увы, коммерческий успех настигает его только к концу жизни, а преподавательской деятельностью больше полумиллиона франков не заработаешь."
      },{
        title: "<strong>Куприн долго прожил в Париже,</strong> но жизнь его была омрачена скудными гонорарами, долгами и алкоголизмом."
      },{
        title: "<strong>Именно столько получил в 1933 году Иван Бунин за Нобелевскую премию по литературе.</strong> Если бы у него был интернет-банк <b>Райффайзен-Онлайн</b>, он смог бы тут же открыть счет во франках или ещё в пяти валютах.",
        correct: true
      }
    ]
  ];
