-
  var info = [
    {
      items: [
        {
          title: "Поездка на воды в Баден-Баден",
          value: "65%"
        },{
          title: "Содержание псарни",
          value: "10%"
        },{
          title: "Охотничье ружье",
          value: "3%"
        },{
          title: "Портной и цирюльник",
          value: "2%"
        },{
          title: "Рестораны",
          value: "7%"
        },{
          title: "Меблированные комнаты в Петербурге",
          value: "13%"
        }
      ],
      result: {
        value: "+1 500"
      }
    }
    ,{
      title: "Путешествия за 18NN год:",
      items: [
        {
          title: "Дюссельдорф — Франкфурт",
          value: "–90 рублей"
        },{
          title: "Франкфурт — Цюрих",
          value: "–130 рублей"
        },{
          title: "Цюрих — Женева",
          value: "–85 рублей"
        },{
          title: "Женева — Ницца",
          value: "–180 рублей"
        },{
          title: "Ницца — Париж",
          value: "–200 рублей"
        }
      ]
    },{
      items: [
        {
          title: "Поездка на воды в Баден-Баден",
          value: "65%"
        },{
          title: "Содержание псарни",
          value: "10%"
        },{
          title: "Охотничье ружье",
          value: "3%"
        },{
          title: "Портной и цирюльник",
          value: "2%"
        },{
          title: "Рестораны",
          value: "7%"
        },{
          title: "Меблированные комнаты в Петербурге",
          value: "13%"
        }
      ],
      result: {
        value: "+4 000"
      }
    },{
      desc: "«Я безденежен до мозга костей <...> Получи 107 рублей по счету, который оною конторою уже получен. Полученные деньги не трать и не раздавай нищим, а вышли мне почтой или простым переводом»"
    },{
      result: {
        value: "+715 000",
        currency: "франков"
      }
    }
  ];
