-
  var questions = [
    {
      title: "Чей это месячный расход?",
      options: [
        {name: "Достоевский"},
        {name: "Тютчев"},
        {name: "Тургенев", correct: true}
      ]
    },{
      title: "Чьи это траты на путешествия?",
      options: [
        {name: "Герцен"},
        {name: "Грибоедов"},
        {name: "Гоголь", correct: true}
      ]
    },{
      title: "Чей это заработок за издание одного романа?",
      options: [
        {name: "Толстой"},
        {name: "Лесков"},
        {name: "Достоевский ", correct: true}
      ]
    },{
      title: "Чьё это сообщение?",
      options: [
        {name: "Островский"},
        {name: "Горький"},
        {name: "Чехов", correct: true}
      ]
    },{
      title: "Чьё это сообщение?",
      options: [
        {name: "Набоков"},
        {name: "Куприн"},
        {name: "Бунин", correct: true}
      ]
    }
  ];
